* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  text-decoration: none;
  color: black;
}

body {
  background: #313233;
}

.app {
  margin: 0 0 0 35px;
  width: 1212px;
  background: #FEFFFF;
}

/*************HEADER**************/

header {
  height: 180px;
  background: #FEFFFF;
}

.top-line {
  padding: 5px 5px 0 36px;
}

.top-line > p {
  font-size: 13px;
  color: #193D93;
}
.logo-wrapper {
  width: 180px;
}

.logo-wrapper > img {
  width: 191px;
  padding: 12px 0 0 6px;
}

.upper-nav {
  display: flex;
}

h1 {
  font-size: 37px;
  padding: 32px 0 0 9px;
}

h2 {
  font-size: 19px;
  padding: 5px 0 0 0;
}

.toggle-items-wrapper {
  display: flex;
}

.toggle-items {
  margin: 1px 5px 0px 9px;
  border-top: 1px solid black;
  opacity: .5;
}

.toggle-items:hover {
  opacity: 1;
}

/************HEADER****************/

