* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  /*font-family: 'Questrial', sans-serif;*/
  font-family: 'Nobile', sans-serif;
  text-decoration: none;
  color: black;
  list-style-type: none;
}

body {
  background: #313233;
}

.app {
  margin: 0 0 0 35px;
  width: 1212px;
  /*width: 95%;*/
  background: #FEFFFF;
}

/*************HEADER**************/

header {
  height: 180px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+76,cecfd1+100 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #feffff 76%, #cecfd1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #feffff 76%,#cecfd1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #feffff 76%,#cecfd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#cecfd1',GradientType=0 ); /* IE6-9 */

}

#top-line {
  padding: 5px 5px 0 36px;
}

#top-line p {
  font-size: 13px;
  color: #193D93;
}

/*******Styling the line with the logo below: ****/

.logo-wrapper {
  width: 180px;
}

.logo-wrapper img {
  width: 183px;
  padding: 12px 0 0 6px;
}

.upper-nav {
  display: flex;
  height: 122px;
}

h1 {
  font-size: 37px;
  padding: 32px 0 0 9px;
}

h2 {
  font-size: 19px;
  padding: 5px 0 0 0;
}

.toggle-items-wrapper {
  display: flex;
  flex-direction: row;
}

.toggle-items-wrapper div {
/*  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;*/
}

.toggle-items-wrapper ul {
  display: flex;
}

.test {
  /*position: relative;*/
  /*width: 0;*/
  /*height: 0;*/
  /*border-left: 10px solid transparent;*/
  /*border-right: 10px solid transparent;*/
  /*border-bottom: 10px solid red;*/
  /*border-top: 1px solid black;*/

}

.toggle-items {
  margin: 1px 5px 0px 9px;
  border-top: 1px solid black;
  opacity: .5;
  font-style: italic;
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 50%;*/
  /*width: 0;*/
  /*height: 0;*/
  /*border-left: 10px solid transparent;*/
  /*border-right: 10px solid transparent;*/
  /*border-bottom: 10px solid red;*/
}

.toggle-items:hover {
  opacity: 1;
}

/*******Styling the line with the home icon below: ****/

.lower-nav {
  display: flex;
  justify-content: space-between;
  height: 37px;
}

.left-nav-bar {
  margin: 0 0 0 34px;
  display: flex;
  height: 30px;
  border-left: 1px solid #FEFFFF;
  box-shadow: -1px 0 0 #C7C8CA;
}

.home-wrapper {
  width: 52px;
  height: 30px;
}

.home-background {
  /*This color is dark blue*/
  background: #151D56; 
  margin: 0 0 0 10px;
  height: 28px;
  width: 30px;
  border-radius: 10%;
  box-shadow: 0px 1px #FEFFFF;
}

.home-background img {
  height: 19px;
  margin: 5px 5px;
}

.about-wrapper {
  width: 72px;
  border-left: 1px solid #FEFFFF;
  box-shadow: -1px 0 0 #C7C8CA;
}

.about-wrapper p {
  color: #3D63A2;
  margin: 6px 0 0 14px;
  font-size: 15px;

}

.gear-wrapper {
  width: 158px;
  border-left: 1px solid #FEFFFF;
  box-shadow: -1px 0 0 #C7C8CA;
}

.gear-wrapper p {
  color: #3D63A2;
  margin: 6px 0 0 14px;
  font-size: 15px;

}

.maintenance-wrapper {
  width: 197px;
  border-left: 1px solid #FEFFFF;
  box-shadow: -1px 0 0 #C7C8CA;
  border-right: 1px solid #FEFFFF;
  box-shadow: 1px 0 0 #C7C8CA;
}

.maintenance-wrapper p {
  color: #3D63A2;
  margin: 6px 0 0 14px;
  font-size: 15px;

}

.right-nav-bar {
  display: flex;
}

#search-bar {
  display: flex;
}

#search-bar li:last-child img {
  width: 20px;
}




/************HEADER****************/
/*********MAIN SECTION*************/



#hero {
  background: url(./Images/hero.jpg);
  background-position: 0px -131px;
  background-size: 100%;
  height: 111px;
  width: 100%;
  background-repeat: no-repeat;
}

#hero ul {
  /*display: flex;*/
  padding: 18px 25px;
}

#hero li {
  font-size: 29px;
  font-weight: bolder;
}

#hero li:last-child {
  font-size: 15px;
  padding: 7px 0 0 1px;
}

#site-map {
  height: 30px;
  background: #B1B2B3;
  border-top: 1px solid #D1D2D3;
  border-bottom: 1px solid #A9AAAB;
}

#site-map ul {
  display: flex;
  height: 100%;
  padding: 7px 0 0 30px;
}

#site-map li {
  margin: 0px 12px 0 1px;
  font-weight: bold;
}

#select-a-dealer {
  /*height: 52px;*/
  margin: 0 31px;
  background: blue;
}

#select-a-dealer h3 {
  padding: 15px 0 0 32px;
  color: white;
  font-size: 25px;
  height: 52px;
}

#enter-zip {
  height: 100px;
  background: #EDEDED; 
  /*margin: 0 31px;*/
}

#enter-zip ul {
  display: flex;
  padding: 21px 261px;
}

#enter-zip li {
  font-size: 23px;
}

#enter-zip li:first-child {
  margin: 0 10px 0 0;
  padding: 13px 2px 0 0;
  width: 228px;
}

#enter-zip input {
  height: 51px;
  width: 254px;
  border: 1px solid #565952;
} 

#enter-zip li:last-child {
  width: 51px;
  height: 51px;
  background: #3F649F;
  border: 1px solid #565952;
  color: white;
  padding: 15px 9px;
  font-size: 20px;
}

#all-dealers {
  margin: 18px 63px;
}

h4 {
  font-size: 20px;
  margin: 104px 0px 0px 63px;
}

.dealer-list-item {
  border-top: 1px solid black;
  padding: 28px 0 0 3px;
  display: flex;
  min-height: 474px;
}

.google-map {
  width: 240px;
  margin: 0 20px 0 0;
}

.list-count {

}

.list-count p {
  font-size: 25px;
}

.dealer-details {
  margin: 2px 0 0 7px;
}

.item-info {
  display: flex;
  min-height: 190px;
  justify-content: space-between;
}

.item-info-left {
  /*flex-grow: 1;*/
}

.item-info-right {
  /*flex-grow: 1;*/
}

.item-info-right button {
  background: blue;
  width: 260px;
  height: 44px;
  margin: 95px 7px 0 0;
}

.item-info-right a {
  color: white;
  font-size: 27px;
}



.dealer-title {

}

h5 {
  font-size: 21px;
  font-weight: lighter;
}

.dealer-address {
  margin: 12px 0 0 0;
  font-size: 18px;
}

.dealer-address p {

}

.dealer-address p:first-child {

}

.dealer-address p:nth-child(2) {
  
}

.dealer-address p:last-child {
  
}

.dealer-phone {
  margin: 12px 0 0 0;
}

.dealer-phone p {
  font-size: 27px;
}

h6 {
  font-size: 20px;

}

.review-content {
  margin: 12px 0 0 0;  
}

.review-content p {
  line-height: 20px;
}

.review-count {
  margin: 11px 15px 0 0;
  text-align: end;  
}

/*********MAIN SECTION*************/

/*********FOOTER SECTION*************/
.footer {
  height: 228px;
}

.upper-footer {
  background: #E5E4DF;
}

.lower-footer {
  background: #323232;
}





















