* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  /*font-family: 'Questrial', sans-serif;*/
  font-family: 'Nobile', sans-serif;
  text-decoration: none;
  color: black;
  list-style-type: none;
}

body {
  background: #313233;
}

.app {
  margin: 0 0 0 35px;
  width: 1212px;
  background: #FEFFFF;
}

/*************HEADER**************/

header {
  height: 180px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feffff+76,cecfd1+100 */
  background: #feffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #feffff 76%, #cecfd1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #feffff 76%,#cecfd1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #feffff 76%,#cecfd1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#cecfd1',GradientType=0 ); /* IE6-9 */

}

#top-line {
  padding: 5px 5px 0 36px;
}

#top-line > p {
  font-size: 13px;
  color: #193D93;
}

/*******Styling the line with the logo below: ****/

.logo-wrapper {
  width: 180px;
}

.logo-wrapper > img {
  width: 183px;
  padding: 12px 0 0 6px;
}

.upper-nav {
  display: flex;
  height: 122px;
}

h1 {
  font-size: 37px;
  padding: 32px 0 0 9px;
}

h2 {
  font-size: 19px;
  padding: 5px 0 0 0;
}

.toggle-items-wrapper {
  display: flex;
  flex-direction: row;
}

.toggle-items-wrapper > div {
/*  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;*/
}

.toggle-items-wrapper > ul {
  display: flex;
}

.test {
  /*position: relative;*/
  /*width: 0;*/
  /*height: 0;*/
  /*border-left: 10px solid transparent;*/
  /*border-right: 10px solid transparent;*/
  /*border-bottom: 10px solid red;*/
  /*border-top: 1px solid black;*/

}

.toggle-items {
  margin: 1px 5px 0px 9px;
  border-top: 1px solid black;
  opacity: .5;

  /*position: absolute;*/
  /*top: 0;*/
  /*left: 50%;*/
  /*width: 0;*/
  /*height: 0;*/
  /*border-left: 10px solid transparent;*/
  /*border-right: 10px solid transparent;*/
  /*border-bottom: 10px solid red;*/
}

.toggle-items:hover {
  opacity: 1;
}

/*******Styling the line with the home icon below: ****/

.lower-nav {
  display: flex;
  justify-content: space-between;
  height: 37px;
}

.left-nav-bar {
  margin: 0 0 0 34px;
  display: flex;
  height: 30px;
  border-left: 1px solid #FEFFFF;
  box-shadow: -1px 0 0 #C7C8CA;
}

.home-wrapper {
  width: 52px;
  height: 30px;
}

.home-background {
  /*This color is dark blue*/
  background: #151D56; 
  margin: 0 0 0 10px;
  height: 28px;
  width: 30px;
  border-radius: 10%;
  box-shadow: 0px 1px #FEFFFF;
}

.home-background > img {
  height: 19px;
  margin: 5px 5px;
}

.about-wrapper {
  width: 72px;
  border-left: 1px solid #FEFFFF;
  box-shadow: -1px 0 0 #C7C8CA;
}

.about-wrapper p {
  color: #3D63A2;
  margin: 6px 0 0 14px;
}

.gear-wrapper {
  width: 158px;
  border-left: 1px solid #FEFFFF;
  box-shadow: -1px 0 0 #C7C8CA;
}

.gear-wrapper > p {
  color: #3D63A2;
  margin: 6px 0 0 14px;
}

.maintenance-wrapper {
  width: 197px;
  border-left: 1px solid #FEFFFF;
  box-shadow: -1px 0 0 #C7C8CA;
  border-right: 1px solid #FEFFFF;
  box-shadow: 1px 0 0 #C7C8CA;
}

.maintenance-wrapper > p {
  color: #3D63A2;
  margin: 6px 0 0 14px;
}

.right-nav-bar {
  display: flex;
}

#search-bar {
  display: flex;
}

#search-bar li:last-child img {
  width: 20px;
}

#hero {
  background: url(./Images/hero.jpg);
  background-position: 0px -131px;
  background-size: 100%;
  height: 111px;
  width: 100%;
  background-repeat: no-repeat;
}

#hero ul {
  /*display: flex;*/
  padding: 18px 25px;
}

#hero li {
  font-size: 29px;
  font-weight: bolder;
}

#hero li:last-child {
  font-size: 15px;
  padding: 7px 0 0 1px;
}



/************HEADER****************/






















